
div.fileupload {
	border: 1px solid grey;
	border-radius: 5px;
	/* padding: 10px; */
}

button.fileUploadButton {
  height: 22px;
  margin-left: 10px;
	margin-top: 10px;
}


input {
	width: 55px;
	margin-left: 10px;
}

div.progressDiv {
	display: flex;
	margin-top: 5px;
}

div.progress {
	font-size: 12px;
	width: 120px;
	margin-left: 10px;
	margin-top: 5px;
}

progress.file {
	margin-top: 5px;
}